<% @title="Calculations" %>
<p id="notice"><%= notice %></p>

<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">Calcualtions</h1>
    
      <h3 class="box-title pull-right ">
        <%#= link_to 'Create Cost setup', new_supplier_setup_path, class: "btn btn-warning btn-sm" %>
      </h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Products</th> 
          <th>Lots</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Cost USD</th>
          <th>Rate</th>
          <th>KES</th>
          <th>Freight USD</th>
          <th>Freight (KES)</th>
          <th>C+F KES</th>
          <th>Pre-IDF</th>
          <th>IDF Bal</th>
          <th>Railway Levy</th>
          <th>KAA Levy</th>
          <th>Shipping Line Charges</th>
          <th>Transport From MSA</th>
          <th>Port Handling Charges</th>
          <th>Offloading Expenses</th>
          <th>Bank Charges</th>
          <th>Service Charges</th>
          <th>Total Other Costs</th>
          <th>Total Costs</th>
          <th>Landed Price/Unit</th>
          <th colspan="1"></th>
        </tr>


        <% @shipments.each do |ships|%>
         <% if ships.shared = true %>
          <% ships.orders.each do |ords| %>
            <% cost_usd = ords.lots * ords.quantity * ords.price %>
            <% cost_KES = cost_usd * ords.rate%>
            <% co = cost_usd / ships.total_cost_usd  %>
            <% frght_USD = co * ships.total_freight_usd %>
            <% frght_KES = frght_USD * ords.rate %>
            <% cf_KES = frght_KES + cost_KES %>
            <% ins_KES = co * ships.total_insurance_Kes %>
            <% cFI = cf_KES + ins_KES %>
            <% pre_idf = co * ships.total_pre_idf %>
            <% idf_bal = co * ships.total_idf_bal %>
            <% railway_levy = co * ships.total_railway_levy %>
            <% kaa_levy = co * ships.total_kaa_levy %>
            <% shipi_charges = co * ships.total_shipping_line_charges %>
            <% from_msa = co * ships.total_transport_from_msa %>
            <% port_handlin = co * ships.total_port_handling_charges %>
            <% offlod= co * ships.total_offloading_expenses %>
            <% bank_charges = co * ships.total_bank_charges %>
            <% ser_expens = co * ships.total_services_charges %>
            <% total_other = pre_idf+idf_bal+railway_levy+kaa_levy+shipi_charges+from_msa+port_handlin+offlod+bank_charges+ser_expens %>
            <% total_costs = frght_KES + ins_KES + total_other %>
            <% landed = total_costs/(ords.quantity/ords.lots) %>
        <tbody>
          <tr>
             <td><%=ords.product%></td>
             <td><%=ords.lots%></td>
             <td><%=ords.quantity%></td>
             <td><%=ords.price%></td>
             <td><%=ords.rate%></td>
             <td><%= number_to_currency(cost_usd,unit: "$   ")%></td>
             <td><%=number_to_currency(cost_KES,unit: "KES  ")%></td>
             <td><%= number_to_currency(frght_USD,unit: "$  ")%></td>
             <td><%= number_to_currency(frght_KES,unit: "KES ")%></td>
             <td><%= number_to_currency(cf_KES,unit: "KES ")%></td>
             <td><%= number_to_currency(ins_KES,unit: "KES ")%></td>
             <td><%= number_to_currency(cFI,unit: "KES ")%></td>
             <td><%= number_to_currency(pre_idf,unit: "KES ")%></td>
             <td><%= number_to_currency(idf_bal,unit: "KES ")%></td>
             <td><%= number_to_currency(railway_levy,unit: "KES ")%></td>
             <td><%= number_to_currency(kaa_levy,unit: "KES ")%></td>
             <td><%= number_to_currency(shipi_charges,unit: "KES ")%></td>
             <td><%= number_to_currency(from_msa,unit: "KES ")%></td>
             <td><%= number_to_currency(port_handlin,unit: "KES ")%></td>
             <td><%= number_to_currency(offlod,unit: "KES ")%></td>
             <td><%= number_to_currency(bank_charges,unit: "KES ")%></td>
             <td><%= number_to_currency(ser_expens,unit: "KES ")%></td>
             <td><%= number_to_currency(total_other,unit: "KES ")%></td>
             <td><%= number_to_currency(total_costs,unit: "KES ")%></td>
             <td><%= number_to_currency(landed,unit: "KES ")%></td>
          </tr>
            <% end  %>
           <% end  %>
       <% end %>

        
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><%#= will_paginate @calculations, renderer: BootstrapPagination::Rails %></li>
      </ul>
    </div>
  </div><!-- /.box -->
</div><!-- /.col -->
<!--<table class="table table-bordered table-responsive">
    <thead>
      <tr>
                  <th>products</th>              
      </tr>
    </thead>
     <% @shipments.each do |ships|%>
     <% if ships.shared = true %>
      <% ships.orders.each do |ords| %>
        <% cost_usd = ords.lots * ords.quantity * ords.price %>
        <% cost_KES = cost_usd * ords.rate%>
        <% co = cost_usd / ships.total_cost_usd  %>
        <% frght_USD = co * ships.total_freight_usd %>
        <% frght_KES = frght_USD * ords.rate %>
        <% cf_KES = frght_KES + cost_KES %>
        <% ins_KES = co * ships.total_insurance_Kes %>
        <% cFI = cf_KES + ins_KES %>
        <% pre_idf = co * ships.total_pre_idf %>
        <% idf_bal = co * ships.total_idf_bal %>
        <% railway_levy = co * ships.total_railway_levy %>
        <% kaa_levy = co * ships.total_kaa_levy %>
        <% shipi_charges = co * ships.total_shipping_line_charges %>
        <% from_msa = co * ships.total_transport_from_msa %>
        <% port_handlin = co * ships.total_port_handling_charges %>
        <% offlod= co * ships.total_offloading_expenses %>
        <% bank_charges = co * ships.total_bank_charges %>
        <% ser_expens = co * ships.total_services_charges %>
        <% total_other = pre_idf+idf_bal+railway_levy+kaa_levy+shipi_charges+from_msa+port_handlin+offlod+bank_charges+ser_expens %>
        <% total_costs = frght_KES + ins_KES + total_other %>
        <% landed = total_costs/(ords.quantity/ords.lots) %>
    <tbody>
      <tr>
         <td><%=ords.product%></td>
         <td><%=ords.lots%></td>
         <td><%=ords.quantity%></td>
         <td><%=ords.price%></td>
         <td><%=ords.rate%></td>
         <td><%= number_to_currency(cost_usd,unit: "$   ")%></td>
         <td><%=number_to_currency(cost_KES,unit: "KES  ")%></td>
         <td><%= number_to_currency(frght_USD,unit: "$  ")%></td>
         <td><%= number_to_currency(frght_KES,unit: "KES ")%></td>
         <td><%= number_to_currency(cf_KES,unit: "KES ")%></td>
         <td><%= number_to_currency(ins_KES,unit: "KES ")%></td>
         <td><%= number_to_currency(cFI,unit: "KES ")%></td>
         <td><%= number_to_currency(pre_idf,unit: "KES ")%></td>
         <td><%= number_to_currency(idf_bal,unit: "KES ")%></td>
         <td><%= number_to_currency(railway_levy,unit: "KES ")%></td>
         <td><%= number_to_currency(kaa_levy,unit: "KES ")%></td>
         <td><%= number_to_currency(shipi_charges,unit: "KES ")%></td>
         <td><%= number_to_currency(from_msa,unit: "KES ")%></td>
         <td><%= number_to_currency(port_handlin,unit: "KES ")%></td>
         <td><%= number_to_currency(offlod,unit: "KES ")%></td>
         <td><%= number_to_currency(bank_charges,unit: "KES ")%></td>
         <td><%= number_to_currency(ser_expens,unit: "KES ")%></td>
         <td><%= number_to_currency(total_other,unit: "KES ")%></td>
         <td><%= number_to_currency(total_costs,unit: "KES ")%></td>
         <td><%= number_to_currency(landed,unit: "KES ")%></td>
      </tr>
        <% end  %>
       <% end  %>
   <% end %>
    </tbody>
  </table>
</div>-->
