<% @title="Kentrades" %>
<p id="notice"><%= notice %></p>


<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h1 class="box-title">Kentrade Listings</h1>
    
      <h3 class="box-title pull-right ">
        <%= link_to 'New Kentrade', new_kentrade_path, class: "btn btn-warning btn-sm" %>
      </h3>
    </div>
    <div class="box-body table-responsive">
      <table class="table table-bordered">
        <tr>
          <th>Idf document fee</th>
          <th>Payment date</th>
          <th colspan="2"></th>
        </tr>
        <% @kentrades.each do |kentrade| %>
          <tr>
            <td><%= kentrade.idf_document_fee %></td>
            <td><%= kentrade.payment_date %></td>
            <td><%= link_to 'Show', kentrade %></td>
            <td><%= link_to 'Delete', kentrade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
        </tr>
      </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><%= will_paginate @kentrades, renderer: BootstrapPagination::Rails %></li>
      </ul>
    </div>
  </div><!-- /.box -->
</div><!-- /.col -->

  