<p id="notice"><%= notice %></p>

<p>
  <strong>Sellers:</strong>
  <%= @order_confirmation.sellers %>
</p>

<p>
  <strong>Sellers bankers:</strong>
  <%= @order_confirmation.sellers_bankers %>
</p>

<p>
  <strong>Buyers bankers:</strong>
  <%= @order_confirmation.buyers_bankers %>
</p>

<p>
  <strong>Idf no:</strong>
  <%= @order_confirmation.IDF_No %>
</p>

<p>
  <strong>Insurance to be:</strong>
  <%= @order_confirmation.insurance_to_be %>
</p>

<p>
  <strong>Mode of transport:</strong>
  <%= @order_confirmation.mode_of_transport %>
</p>

<p>
  <strong>P.order no:</strong>
  <%= @order_confirmation.p_order_No %>
</p>

<p>
  <strong>Proforma nos:</strong>
  <%= @order_confirmation.proforma_nos %>
</p>

<p>
  <strong>Terms of payment:</strong>
  <%= @order_confirmation.terms_of_payment %>
</p>

<p>
  <strong>Country of origin:</strong>
  <%= @order_confirmation.country_of_origin %>
</p>

<p>
  <strong>Inspection agency:</strong>
  <%= @order_confirmation.inspection_agency %>
</p>

<p>
  <strong>Country of inspection:</strong>
  <%= @order_confirmation.country_of_inspection %>
</p>

<p>
  <strong>Country of supply:</strong>
  <%= @order_confirmation.country_of_supply %>
</p>

<p>
  <strong>Shipment date:</strong>
  <%= @order_confirmation.shipment_date %>
</p>

<p>
  <strong>Port of loading:</strong>
  <%= @order_confirmation.port_of_loading %>
</p>

<p>
  <strong>Port of discharge:</strong>
  <%= @order_confirmation.port_of_discharge %>
</p>

<p>
  <strong>Final destination:</strong>
  <%= @order_confirmation.final_destination %>
</p>

<p>
  <strong>Shipping marks order nos:</strong>
  <%= @order_confirmation.shipping_marks_order_nos %>
</p>

<p>
  <strong>Container type:</strong>
  <%= @order_confirmation.container_type %>
</p>

<p>
  <strong>Code:</strong>
  <%= @order_confirmation.code %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @order_confirmation.item_description %>
</p>

<p>
  <strong>Supplier item description:</strong>
  <%= @order_confirmation.supplier_item_description %>
</p>

<p>
  <strong>Hscode no:</strong>
  <%= @order_confirmation.HScode_No %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_confirmation.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @order_confirmation.unit_price %>
</p>

<p>
  <strong>Total amount decimal:</strong>
  <%= @order_confirmation.total_amount_decimal %>
</p>

<%= link_to 'Edit', edit_order_confirmation_path(@order_confirmation) %> |
<%= link_to 'Back', order_confirmations_path %>
