<%= form_for(@customs_service_department) do |f| %>
  <% if @customs_service_department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customs_service_department.errors.count, "error") %> prohibited this customs_service_department from being saved:</h2>

      <ul>
      <% @customs_service_department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="exampleInputEmail1">Idf Form No's</label>
    <%= f.number_field :idf_form_nos, :step => 'any', class: 'form-control' %>
  </div>

   <div class="form-group">
    <label>Payment Date:</label>
    <div class="input-group">
      <div class="input-group-addon">
        <i class="fa fa-calendar"></i>
      </div>
      <%= f.date_select :payment_date, :step => 'any', class: 'form-control' %>
      <%#= f.date_select :application_date, :step => 'any', class: 'form-control' %>
      <!--<input class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" type="text">-->
    </div><!-- /.input group -->
  </div>

  <!--<div class="form-group">
    <label for="exampleInputEmail1">Payment Date</label>
  </div>-->
  <div class="form-group">
    <label for="exampleInputEmail1">Rate</label>
    <%= f.text_field :rate, :step => 'any', class: 'form-control' %>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Attachment</label>
    <%= f.file_field :avatar, :step => 'any' %>
  </div>

  <div class="box-footer">
    <%= f.submit "Submit", class: "btn btn-success btn-sm" %>
      <!--<button type="submit" class="btn btn-primary">Submit</button>-->
  </div>


<% end %>
