<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier_setup.supplier_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supplier_setup.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier_setup.address %>
</p>

<p>
  <strong>Banking details:</strong>
  <%= @supplier_setup.banking_details %>
</p>

<p>
  <strong>Bus type:</strong>
  <%= @supplier_setup.bus_type %>
</p>

<p>
  <strong>Bus type:</strong>
  <%= @supplier_setup.bus_type %>
</p>

<p>
  <strong>Country:</strong>
  <%= @supplier_setup.country_id %>
</p>

<p>
  <strong>Country name:</strong>
  <%= @supplier_setup.country_name %>
</p>

<p>
  <strong>Bus clasification:</strong>
  <%= @supplier_setup.bus_clasification %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @supplier_setup.notes %>
</p>

<%= link_to 'Edit', edit_supplier_setup_path(@supplier_setup) %> |
<%= link_to 'Back', supplier_setups_path %>
